
box  grid button {
 	border-radius: 6px;
	box-shadow: 0px 1px 2px 0px alpha(@theme_fg_color_breeze, 0.2); 
	border: 0;
	margin:  1px;
 	transition: all 0.4s ease 0s;
}


headerbar button {
	border-color: transparent;
}

menubutton button {
	background: transparent;
}


headerbar button:hover {
	background-color: @theme_button_decoration_hover_insensitive_breeze;
}

popover arrow  {
  background: transparent;
  outline-color: transparent;
  border-color: transparent;
  color: transparent;
  box-shadow: none;
}

popover contents {
	margin-top: -10px;
	border-radius: 8px;
	opacity: 0.85;
	background-color: @theme_base_color;
	box-shadow: 0px 0px 14px 0px alpha(@theme_fg_color_breeze, 0.2); 
	padding: 6px;
}

list {
border-radius: 8px;
padding: 10px;
margin: 10px;
}

popover modelbutton {
padding: 6px;
border-radius: 6px;
border: 0;
}

list row:hover {
	background-color: @theme_button_decoration_hover_insensitive_breeze;
}




.navigation-sidebar {
	box-shadow: 0px 0px 14px 0px alpha(@theme_fg_color_breeze, 0.2); 
}


.navigation-sidebar .sidebar-row {
	border-radius: 8px;
}

.navigation-sidebar .sidebar-row:hover {
	box-shadow: 0px 0px 4px 0px alpha(@theme_fg_color_breeze, 0.2); 
}

popover modelbutton:hover {
	border-radius: 8px;
}


.csd {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

headerbar windowcontrols button,
.titlebar windowcontrols button {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  min-height: 24px;
  min-width: 24px;
  -gtk-icon-size: 16px;
  padding: 0;
  margin-top: -14px;
  padding-top: 28px;
  margin-bottom: -14px;
  padding-bottom: 28px; }
